<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
		<title>动态</title>
		<link rel="stylesheet" type="text/css" href="/css/dynamics.css"/>
	</head>
	<body>
		<div id="nav">
			<div id="logo">
				Rootlink
			</div>
			<div id="search">
				<input type="text" name="search" placeholder="搜索" />
				<img src="/img/search.png"/>
			</div>
			<div id="navigation">
				<ul>
					<li>首页</li>
					<li>动态</li>
					<li>文档中心</li>
					<li>用户中心</li>
				</ul>
			</div>
		</div>
		<div id="container_l">
			<div id="logo_date">
				<div id="square">
					<span id="day">24</span>
					<br />
					<span id="yearmonth">
						2016-12
					</span>
				</div>
				<div id="triangle">
					
				</div>
			</div>
				<div id="content">
					<div id="title">
						智能烟雾报警器使用体验
					</div>
					<div id="circle">
						
					</div>
					<div id="flag">
						<span id="label">标签：</span>
						<span id="article">今日新闻</span>
					</div>
					<div id="article_content">
						想和我们一起让照明变得更聪明吗？迅速发展中的Yeelink团队开始
						新一轮的招聘啦！欢迎大家踊跃加入和介绍朋友！<br /><br />
						从两年前两个朗讯工程师组成的小团队，到现在二十名全职员工，我们
						中间经历了Haxlr8r硬件孵化器，硅谷产品发布，国际和国内市场拓展
						，创客支持等多个阶段，直到2014年初获得国内顶级互联网硬件公司的
						A轮投资，Yeelink目前已进入高速发展阶段。作为一个天生就是国际化
						的小而美的团队，我们一直保持着对全球市场的关注，并且已经在家庭
						智能照明产品领域确立了领先的市场地位和技术水平，我们已经为全世界
						的消费者提供了数以万计的智能灯泡，并且在不断地刷新和提高这一数字
						<br /><br />
						未来Yeelink将持续专注于家庭光环境的开发和颠覆，将更多的革新体验
						和新技术应用带入传统照明产品中，降低智能照明的门槛，并期待未来的
						某一天，所有的家庭中都会拥有充满乐趣和极致体验的Yeelink照明产品。
						<br /><br />
						<div id="show">
							收起
							<img src="/img/show.png"/>
							<span id="share">
								分享
							</span>
							<span id="discuss">
								评论
							</span>
						</div>	
					</div>
				</div>
			</div>
			<div id="container_rt">
				
			</div>
			<div id="container_rb">
				
			</div>
	</body>
			<script src="/js/dynamics.js"></script>
</html>
