<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
		<title>登陆</title>
		<link rel="stylesheet" href="/css/login.css">
		<script type="text/javascript" src="/js/login.js" ></script>
	</head>
	<body>
		<div id="container">
			<div id="login_form">
				<div id="head">
					用户登陆
				</div>
				<div id="line">
					
				</div>
				<form action="" method="get" onsubmit="return validateForm()" name="myForm">
				<div id="username">
					<img src="/img/username.png" />
					<input type="text" name="username" placeholder="用户名">
				</div>
				<div id="password">
					<img src="/img/pw.png"/>
					<input type="password" name="password" placeholder="密码">
				</div>
				<section>
	  				<div class="checkbox">
	  					<input type="checkbox" value="1" id="checkboxInput" name="" />
		  				<label for="checkboxInput"></label>
	  				</div>
				</section>
				<div id="rember_pd">
					<span class="pd">记住密码</span>
					<a href="/register"><span class="lg">注册账户</span></a>
				</div>
				<button id="submit">立即登陆</button>
				<div id="support">
					关于Rootlink
				</div>
				</form>
			</div>
		</div>	
	</body>
</html>
