﻿<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
		<title>注册</title>
		<link rel="stylesheet" href="../public/css/register.css">
		<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/register.js" ></script>
	</head>
	<body>
		<div id="head">
			<div id="headline">
				<span>用户注册</span>
				
			</div>
		</div>
		<div id="whole">
			<div id="container">
			
			<div id="register_form">
				<form action="" method="post" onsubmit="return validateForm()" name="myForm">
					<div id="content">
					<div id="username">
						<span>
							用户名：
						</span>
						<input type="text" name="username" placeholder="自定义用户名">
						<img src="../public/img/username-01.png"/>
					</div>
					<div id="password">
						<span>
							密码：
						</span>
						<input type="password" name="password" placeholder="请输入密码" />
						<img src="../public/img/pw-01.png"/>
					</div>
					<div id="password2">
						<span>
							确认密码：
						</span>
						<input type="password" name="password2" placeholder="请输入密码" />
						<img src="../public/img/confirmpw-01.png"/>
					</div>
					<div id="r_way">
						<span>
							邮箱：
						</span>
						<input type="text" name="r_way" placeholder="请输入邮箱" />
						<img src="../public/img/register_w.png"/>
					</div>
					
					<section>
		  				<div class="checkbox">
		  					<input type="checkbox" value="1" id="checkboxInput" name="" />
			  				<label for="checkboxInput"></label>
		  				</div>
					</section>
					<div id="readagree">
						<span>我已阅读并同意《<a href="#">服务条款</a>》中的相关内容</span>
					</div>
				</div> 
					<button id="submit" type="submit" onclick="open()">立即注册</button>
				</form>
				
			</div>
		</div>
				
		</div>
			
	</body>
</html>
